* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    background-color: #1F2937;
    height: auto;
    display: flex;
    flex-direction: column;
}

.header-container  {
    margin: 20px 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.awesome-container {
    margin: 20px 150px;
    display: flex;
    justify-content: space-between;
}

.awesome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.big-awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.small-awesome {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
    width: 100px;
    padding: 8px 0;
    border: none;
    margin-top: 8px;
    border-radius: 8px;
}

.info {
    height: auto;
    margin: 40px 0;
}

.random {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 200px;
}

.up, .down, .left, .right {
    width: 150px;
    text-align: center;
    padding: 5px;
}

.quote {
    background-color: #E5E7EB;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.inspire, .inspirer {
    margin: 0 300px;
}

.inspire {
    text-align: justify;
    margin-top: 30px;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.inspirer {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bold;
}

.action {
    height: 120px;
}

footer {
    background-color: #1F2937;
    height: 50px;
    color: #E5E7EB;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}